<div class="recipe">
  <header>
    <h2>{{name}}</h2>
    <p>by {{author.username}}</p>
    <img src="//fillmurray.com/800/400">
  </header>
  <section class="details">
    <div class="recipe-type">
      <label>Recipe Type</label>
      <span>{{recipeType}}</span>
    </div>
    <div class="prep-time">
      <label>Prep Time</label>
      <span>{{prepTime}}{{prepTimeUnit}}</span>
    </div>
    <div class="cook-time">
      <label>Cook Time</label>
      <span>{{cookTime}}{{cookTimeUnit}}</span>
    </div>
    <div class="cook-temp">
      <label>Cook Temp</label>
      <span>{{cookTemp}}&deg;{{cookTempUnit}}</span>
    </div>
  </section><!--details-->
  <ul class="ingredients">
    <li class="heading">
      {{yieldCount}} {{yieldUnit}}
      <button><i class="fa fa-pencil"></i> Adjust</button>
    </li>
    {{#each ingredients}}
      <li>
        <div class="quantity">{{quantity}} {{unit.name}}</div>
        <div class="ingredient">{{food.name}}</div>
      </li>
    {{/each}}
      <div class="quantity"></div>
      <div class="ingredient"></div>
    </li>
  </ul><!--ingredients-->
  <section class="instructions">
    <ul>
      {{#each steps}}
        <li>
          <div class="heading">
            <h2>Step {{stepNum}}</h2><div class="line"></div>
          </div>
          <div class="step-description">
            <p>{{description}}</p>
          </div>
          <div class="ingredient-table">
            {{#each ingredients}}
              <div class="quantity">
                {{quantity}} {{unit.name}}
              </div>
              <div class="ingredient">
                {{food.name}}
              </div>
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ul>
  </section><!--instructions-->
  <section class="notes">
    <h2>Personal Notes</h2>
    <div class="line"></div>
    <p>{{notes}}</p>
  </section><!--notes-->
  <section class="edit">
    {{#link-to "recipes.edit" id}}Edit this recipe{{/link-to}}
  </section>
</div><!--recipe-->
